
.main ul{
    margin: 0 auto;
    padding: 15px 0 15px 0;

}

footer .ul .container .h2{
    padding:0 25px 0 85px;
    color:antiquewhite;
}
footer .ul .container  li{
    padding:0 0  0 150px;
    font-size: 15px;
    color: aliceblue;
    margin: -50px; 
}
footer .ul .container  li{
    margin-top: 25px;
    
}

